@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda" @onkeyup="PressEnter">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion))
{
    <div class="suggestion">
    <p>Quizás quisiste decir: <strong><a href="#" @onclick="RunSuggestion">@result.Suggestion</a></strong></p>
</div>
}

<ul class="results">
    @foreach (var item in result.Items())
    {
        <li>
            <div class="item">
                <p class="title">@item.Title</p>
                <p>... @item.Snippet ...</p>
            </div>
        </li>
    }
</ul>

@code {
    //para crear como una bas de datos que te carga los txt en lo que corre el proyecto. asi funciona mas rapido
    private string query = "";
    private SearchResult result = new SearchResult();
    private void PressEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            RunQuery();
        }
    }
    private void RunQuery()
    {
        result = Moogle.Query(query);
    }
    private void RunSuggestion()
    {
        query = result.Suggestion;
        System.Console.WriteLine(@result.Suggestion);
        result = Moogle.Query(@result.Suggestion);
    }
}
